# Basic python syntax

In [ ]:
num1 = 5.5
print(type(num1))

<class 'float'>

In [ ]:
num1 = float(input("Enter a value:"))
print(type(num1))

Enter a value:6.6
<class 'float'>

In [ ]:
num1 = float(input("Enter value for num1:"))
num2 = float(input("Enter value for num2:"))

sum = num1 + num2
mul = num1 * num2
div = num1 / num2
sub = num1 - num2
pow = num1 ** num2
int_div = num1 // num2
mod = num1 % num2
print("Sum=",sum)
print("Mul=",mul)

Enter value for num1:5
Enter value for num2:6.5
Sum= 11.5
Mul= 32.5

# Control statements

In [ ]:
if num1 == num2:
  print(num1,"is equal to ",num2)
elif num1 <= num2:
  print(num1,"is less than and equal to ",num2)
else:
  print(num1,"is not equal to ",num2)

5.0 is less than and equal to  6.5

In [ ]:
i = 0
while i<5:
  print(i)
  i+=1

0
1
2
3
4

In [ ]:
# range(start,end, step)
for i in range(10,-1,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1
0

# Data Structure

In [ ]:
value = [5,6.6,5,"this is a list"]
print(value)

[5, 6.6, 5, 'this is a list']

In [ ]:
value = [4,5,5,5,5,"This is a list"]
print(len(value))

6

In [ ]:
for i in range(len(value)):
  print(value[i])

4
5
5
5
5
This is a list

In [ ]:
flag = 1
for items in value:
  if flag == 1:
    num = input("Enter a value:")
    value.append(num)
    flag = 0
  print(items)

Enter a value:6
4
5
5
5
5
6

In [ ]:
student = {
    "std1_id":"2021-2-60-001",
    "std2_id":"2021-2-60-002",
    "std3_id":"2021-2-60-003",
    "name" : ["std1","std2","std3"]
}

In [ ]:
print(student["std1_id"])
student["std4_id"] = "2021-2-60-004"
print(student)

2021-2-60-001
{'std1_id': '2021-2-60-001', 'std2_id': '2021-2-60-002', 'std3_id': '2021-2-60-003', 'name': ['std1', 'std2', 'std3'], 'std4_id': '2021-2-60-004'}

In [ ]:
for key,value in student.items():
  print("Dict student key: ",key,"value:",value)

Dict student key:  std1_id value: 2021-2-60-001
Dict student key:  std2_id value: 2021-2-60-002
Dict student key:  std3_id value: 2021-2-60-003
Dict student key:  name value: ['std1', 'std2', 'std3']
Dict student key:  std4_id value: 2021-2-60-004

# function

In [ ]:
def input_number():
  num1 = input("Enter value of num1")
  num2 = input("Enter value of num2")
  return num1,num2

#num1, num2 = input_number()

def sum(num1=0.0, num2=0.0):
  return num1+num2

print(sum())

0.0

In [ ]:
student ={
    "std1":"2021-1-60-001"
}

In [ ]:
student={}
def input_values():
  num = int(input("Enter number of students:"))
  for i in range(num):
    d = input("Enter a student id:")
    student["std-"+str(i+1)] = d
def output():
  for key,values in student.items():
    print(f"Student {key} and value {value}")

input_values()
output()

Enter number of students:2
Enter a student id:2021-1-60-001
Enter a student id:2021-1-60-002
{'std-0': '2021-1-60-001', 'std-1': '2021-1-60-002'}